In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("cursos-prouni.csv")

In [3]:
df.head()

,uf_busca,cidade_busca,universidade_nome,campus_nome,nome,grau,turno,mensalidade,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas
0,AC,Acrelandia,Universidade Paulista - UNIP,ACRELANDIA - Centro,Administração,Bacharelado,Curso a Distância,289.0,1.0,1.0,NaN,NaN,572.74,548.0,NaN,NaN
1,AC,Cruzeiro do Sul,Centro Universitário Internacional - Uninter -...,PAP CRUZEIRO DO SUL - Centro,Administração,Bacharelado,Curso a Distância,298.0,1.0,NaN,NaN,NaN,646.14,NaN,NaN,NaN
2,AC,Cruzeiro do Sul,Faculdade Educacional da Lapa - FAEL,AC - CRUZEIRO DO SUL - POLO EAD - CENTRO,Administração,Bacharelado,Curso a Distância,325.0,NaN,NaN,1.0,NaN,NaN,NaN,577.62,NaN
3,AC,Cruzeiro do Sul,Universidade Paulista - UNIP,CRUZEIRO DO SUL - Centro,Administração,Bacharelado,Curso a Distância,319.0,1.0,NaN,NaN,NaN,616.68,NaN,NaN,NaN
4,AC,Rio Branco,Centro Universitário Internacional - Uninter -...,PAP RIO BRANCO - Bosque,Administração,Bacharelado,Curso a Distância,298.0,NaN,NaN,1.0,NaN,NaN,NaN,569.00,NaN

In [4]:
for i, v in enumerate(df.columns):
    print(i, v)

0 uf_busca
1 cidade_busca
2 universidade_nome
3 campus_nome
4 nome
5 grau
6 turno
7 mensalidade
8 bolsa_integral_cotas
9 bolsa_integral_ampla
10 bolsa_parcial_cotas
11 bolsa_parcial_ampla
12 nota_integral_ampla
13 nota_integral_cotas
14 nota_parcial_ampla
15 nota_parcial_cotas

In [11]:
df[df.nome == "Administração"]['mensalidade'].describe()

count    2754.000000
mean      542.997491
std       392.767032
min       169.000000
25%       298.000000
50%       393.675000
75%       694.772500
max      6552.520000
Name: mensalidade, dtype: float64

In [12]:
df[df.nome == "Administração"].groupby("uf_busca")['mensalidade'].describe()

,count,mean,std,min,25%,50%,75%,max
uf_busca,,,,,,,,
AC,12.0,422.846667,177.606954,250.0,298.0000,325.000,487.6975,823.22
AL,19.0,442.887368,169.488933,169.0,298.0000,417.140,586.6300,712.86
AM,24.0,516.304167,222.672974,219.0,321.0000,566.660,687.9675,936.24
AP,12.0,484.623333,255.563701,229.0,298.0000,384.065,654.0375,941.43
BA,194.0,477.486856,249.348830,189.0,295.0000,327.325,660.2300,1555.75
CE,74.0,604.299054,284.284166,229.0,406.2725,522.520,715.0000,1200.00
DF,64.0,615.235938,282.211430,175.0,321.0000,688.910,812.0150,1255.96
ES,69.0,496.647536,267.745255,199.0,298.0000,402.650,699.0000,1895.00
GO,99.0,458.153434,218.915882,169.0,299.0000,390.000,577.1400,1250.34
MA,49.0,522.502857,207.559136,229.0,309.0000,514.710,760.0300,835.05
MG,294.0,606.520578,330.694369,209.0,319.0000,534.020,859.9375,2200.00
MS,71.0,359.683662,183.445437,209.0,250.0000,269.000,359.1750,970.00
MT,70.0,430.491000,238.015389,209.0,298.0000,317.000,500.0650,1117.90
PA,81.0,456.193951,294.218971,189.0,289.0000,319.000,564.9200,1380.23
PB,39.0,508.174615,248.744952,189.0,289.4850,478.000,675.6500,1250.34
PE,92.0,502.651304,276.217886,189.0,289.0000,437.575,668.1700,1250.34
PI,34.0,454.323824,204.086150,209.0,279.0000,416.240,659.5000,1003.40
PR,255.0,572.598980,676.538391,219.0,298.0000,369.600,668.5750,6552.52
RJ,110.0,677.084000,694.257730,175.0,298.0000,341.080,794.2550,3567.00
RN,34.0,437.418529,158.813559,169.0,298.2500,432.825,564.4375,684.29
RO,33.0,461.188485,218.848990,209.0,289.0000,325.000,661.4900,937.99
RR,6.0,459.891667,201.360846,189.0,348.0350,430.170,614.9125,712.86
RS,230.0,652.882696,484.387578,209.0,298.0000,333.000,1021.6325,3621.57
SC,118.0,507.030085,297.889500,219.0,298.0000,329.000,674.4200,1413.00
SE,27.0,411.132963,145.392842,169.0,312.9000,312.900,499.0000,718.94
SP,616.0,556.920909,359.353181,169.0,309.0000,417.570,692.1000,3851.00
TO,28.0,421.981071,194.388198,189.0,295.7500,317.000,560.8175,857.71

In [13]:
df[(df.nome == "Ciência da Computação") | (df.nome == "Ciências da Computação")]['mensalidade'].describe()

count     216.000000
mean      926.433009
std       431.367237
min       309.500000
25%       637.612500
50%       799.350000
75%      1167.612500
max      4023.000000
Name: mensalidade, dtype: float64

In [9]:
df[(df.nome == "Ciência da Computação") | (df.nome == "Ciências da Computação")].groupby("uf_busca")['mensalidade'].describe()

,count,mean,std,min,25%,50%,75%,max
uf_busca,,,,,,,,
AL,3.0,711.926667,109.246218,585.78,680.3900,775.000,775.0000,775.00
AM,4.0,795.600000,134.071241,611.88,737.7600,837.560,895.4000,895.40
AP,3.0,653.360000,33.283461,618.00,638.0000,658.000,671.0400,684.08
BA,3.0,687.933333,280.931723,474.27,528.8250,583.380,794.7650,1006.15
CE,4.0,761.975000,288.763676,476.98,589.8550,710.960,883.0800,1149.00
DF,7.0,991.835714,190.717430,755.45,855.3700,907.050,1185.1200,1199.37
ES,4.0,735.625000,245.673579,512.26,532.4950,718.620,921.7500,993.00
GO,6.0,951.918333,354.321142,603.93,736.1950,793.895,1250.2725,1400.43
MG,13.0,995.413846,188.129554,714.72,858.3600,978.000,1178.0000,1246.00
MS,3.0,606.296667,192.420615,482.74,495.4450,508.150,668.0750,828.00
MT,1.0,858.000000,NaN,858.00,858.0000,858.000,858.0000,858.00
PA,3.0,987.630000,557.990167,647.22,665.6500,684.080,1157.8350,1631.59
PB,6.0,651.443333,65.045003,581.34,597.8850,648.660,691.8450,742.80
PE,12.0,788.586667,284.669847,436.62,459.6000,829.010,992.7225,1272.62
PI,6.0,557.353333,213.345555,309.50,372.9875,578.275,725.7750,798.57
PR,8.0,1094.283750,426.518044,503.50,842.8525,1119.000,1290.6500,1875.00
RJ,9.0,1351.546667,1058.818463,758.00,783.0200,868.280,1510.0600,4023.00
RS,22.0,1472.614545,345.899349,897.30,1290.8150,1469.040,1623.8600,2494.20
SC,7.0,993.375714,245.462152,626.23,879.4200,886.560,1195.0000,1292.00
SP,89.0,839.156292,350.213722,450.54,598.6900,751.970,959.1700,2016.00
TO,3.0,624.160000,273.489256,452.40,466.4700,480.540,710.0400,939.54